APP_NAME=LISTA
APP_ENV=production
APP_DEBUG=false
APP_URL=https://seusite.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lista
DB_USERNAME=root
DB_PASSWORD=
DB_SSLMODE=require

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_SAMESITE=strict

SANCTUM_STATEFUL_DOMAINS=seusite.com
SESSION_DOMAIN=.seusite.com
